* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

body {
  font-family: sans-serif;
  padding: 30px;
  /* background-image: url("img/bg.jpg"); */
  background-color: purple;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .index {
    padding: 10px;
  }
  .custom-modal {
    width: 90% !important ;
  }
}

h1 {
  text-align: center;
  font-family: "Rum Raisin", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

#logo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 15%;
}

#heading {
  -webkit-text-fill-color: purple;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: greenyellow;
}

.logo {
  text-align: center;
}

.logo img {
  height: 18rem;
}

.main-wrapper {
  max-width: 650px;
  margin: 0 auto;
  border: 5px solid yellowgreen;
  border-radius: 15px;
  padding: 20px;
}

form div {
  padding: 10px 0;
}

form div label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
}
form ul {
  list-style: none;
}
form ul li {
  color: red;
}

#editForm ul {
  padding-left: 0;
}

form div input {
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid white;
  background-color: greenyellow;
  color: black;
  padding: 0 10px;
  outline: none;
}

form div button,
.registerDiv button {
  cursor: pointer;
  background-color: yellowgreen;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 15px;
}

.registerDiv {
  text-align: center;
  margin-top: 20px;
}
.registerDiv p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-modal {
  display: none;
  background-color: purple;
  box-shadow: rgba(255, 255, 255, 0.8) 0 0 1000px 1000px;
  max-width: 650px;
  margin: auto;
  border: 5px solid yellowgreen;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 100%;
}

.custom-modal button#closeModal {
  position: absolute;
  background-color: transparent;
  border: none;
  color: white;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.inner-container {
  border: 5px solid yellowgreen;
  border-radius: 15px;
  padding: 15px;
}

.inner-container #profileImg {
  width: 75%;
  border-radius: 100%;
}

.left-inner {
  /* background-color: rgb(150, 3, 187); */
  background-color: rgb(160, 9, 160);
  word-break: break-all;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-inner {
  background-color: rgb(100, 3, 100);
  /* background-color: #39455b; */
}

.left-inner p,
.left-inner button {
  margin-bottom: 0;
  margin-top: 10px;
}

.left-inner button {
  cursor: pointer;
  background-color: yellowgreen;
  padding: 5px 25px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 15px;
}

.inner-container.right-inner form {
  display: flex;
  height: 70px;
}

.inner-container.right-inner form textarea {
  width: 85%;
  resize: none;
  border: 0;
  border-radius: 15px 0 0 15px;
  outline-color: yellowgreen;
  padding: 10px;
}

.inner-container.right-inner form button {
  width: 15%;
  border: 0;
  border-radius: 0 15px 15px 0;
  background-color: yellowgreen;
  color: white;
  font-weight: bold;
  font-size: large;
}

.custom-modal button#deleteProfile {
  color: white;
  cursor: pointer;
  background-color: red;
  padding: 5px 25px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 15px;
}

#allPostsWrapper .single-post {
  padding: 20px;
  background-color: yellowgreen;
  color: black;
  /* border: 5px solid yellowgreen; */
  border-radius: 15px;
  margin-top: 15px;
}

#allPostsWrapper .single-post .post-content {
  font-weight: bold;
}

#allPostsWrapper .single-post .comments {
  margin-top: 10px;
  display: none;
}
#allPostsWrapper .single-post .comments form {
  width: 100%;
  height: 40px;
}

#allPostsWrapper .single-post .comments form input {
  width: 85%;
  border-radius: 15px 0 0 15px;
  border: 1px white solid;
  padding-left: 10px;
  outline: none;
}
#allPostsWrapper .single-post .comments form button {
  width: 15%;
  border: 1px white solid;
  font-size: 15px;
}

.post-actions p {
  margin-bottom: 0;
}

.single-post hr {
  margin-bottom: 5px;
}

#allPostsWrapper .single-post .post-actions {
  display: flex;
  justify-content: space-between;
}

#allPostsWrapper .single-post .post-actions div button.like-btn {
  background-image: url("img/like.png");
  background-repeat: no-repeat;
  padding: 5px 15px 5px 40px;
  background-position: 10px;
  background-color: yellowgreen;
  font-weight: bold;
  border: none;
}
#allPostsWrapper .single-post .post-actions div button.comment-btn {
  background-image: url("img/comment.png");
  background-repeat: no-repeat;
  padding: 5px 15px 5px 40px;
  background-position: 10px;
  background-color: yellowgreen;
  border: none;
  font-weight: bold;
}

#allPostsWrapper .single-post .post-actions div button.remove-btn {
  background-position: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 10px;
}

#allPostsWrapper .single-post .comments .single-comment {
  border: 2px dotted purple;
  padding: 10px;
  margin-top: 10px;
}
